<!DOCTYPE html>
<html>
  <head>
    <title>ORM Crud</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Selamat datang <%= user %></h1>
    <a href="add">Tambah</a>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Complete</th>
      </tr>
      <% todos.forEach((item)=>{ %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.title %></td>
          <td><%= item.complete ? "Sudah" : "Belum" %></td>
        </tr>
      <% }) %>
    </table>
    <a href="logout">Keluar</a>
  </body>
</html>
